# Python cache
__pycache__/
*.pyc

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environments
.env
.venv/
venv/

# Data
data/raw/
data/processed/*
!data/processed/dataset.csv

# Results
results/*.joblib
results/*.pkl

# Mac OS
.DS_Store

# Logs
*.log
